[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
google-cloud-storage = "*"
boto3 = "*"
pyside6 = "*"
pypdf2 = "*"
reportlab = "*"
qrcode = "*"
pillow = "*"
pandas = "*"
psutil = "*"
gputil = "*"
jwt = "*"
requests = "*"
bcrypt = "*"
rsa = "*"
qt-material = "*"

[dev-packages]

[requires]
python_version = "3.10"
